page-bee {

}
 .main-container-bee {
	background-color: $orange;
}


.heading {	
	color: $yellow;
	display: block;
	margin: 0 auto;
	padding-top: 20px;
}


.text {
	color: $white;

}

.icon {
	margin-right: 20px;
}
